body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(90deg, rgb(230, 218, 206) 0 40%, white  0 60%);
    padding-bottom: 5%;
}

.selector-for-some-widget {
    box-sizing: content-box;
}

/* HEADER */

header {
    background: white;
    color: rgb(41, 41, 41);
    padding: 30px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

header nav h2 {
    display: inline;
    position: relative;
    left: 5%;
    font-size: 30px;
}

nav ul {
    margin: 0;
    display: inline;
    font-size: 20px;
}

nav ul li {
    float: right;
    list-style-type: none;
    padding: 5px 10px;
    position: relative;
    right: 5%;
}

nav ul li:after {
    clear: both;
}

nav ul li a {
    color: rgb(119, 119, 119);
    text-decoration: none !important;
}

nav ul li a:hover {
    color: rgb(145, 189, 216);
}

#current {
    color: black;
}

/* DESCRIPTION */
.column {
    float: left;
    margin-top: 9.7% !important;
}

.left {
    background: rgb(244, 236, 230);
    position: relative;
    width: 30%;
    left: 15%;
    margin: 5% 0%;
    box-shadow: -15px 15px 10px 2px rgb(179, 179, 179);
}

.center {
    text-align: center;
    padding: 20px;
}

.left .center img {
    border-radius: 50%;
    width: 300px;
    height: auto;
    padding-bottom: 20px;
    margin-top: 20px;
}

.left .center p {
    font-size: 20px;
}

.socials {
    position: relative;
    background-color: white;
    padding: 20px;
    text-align: center;
}

.socials a {
    text-decoration: none;
    padding-right: 20px;
    color: black;
    transition-duration: 0.5s;
}

.socials a:hover {
    color: rgb(145, 189, 216);
}

.right {
    background: white;
    position: relative;
    width: 30%;
    left: 16%;
    margin: 5% 0%;
}
.right div {
    position: relative;
    top: 50%;
    margin-left: 5%;
}

.right div h1 {
    font-size: 50px;
}

.right div p {
    font-size: 18px;
    line-height: 25px;
}

.right div button {
    padding: 10px 40px;
    background: rgb(145, 189, 216);
    color: white;
    transition-duration: 0.5s;
    border-radius: 100px 100px 100px 100px;
    border: 0px;
    margin-right: 15px;
}

.right div button:hover {
    background: white;
    color: rgb(145, 189, 216);
    border: 2px solid rgb(145, 189, 216);
}

/* PROJECTS */

#projects {
    clear: both;
    background: white;
}
