body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: lightgrey;
    position: relative;
}

header {
    background: white;
    color: rgb(41, 41, 41);
    padding: 15px;
}

header nav h2 {
    display: inline;
    position: relative;
    left: 5%;
    font-size: 20px;
}

nav ul {
    margin: 0;
    display: inline;
}

nav ul li {
    float: right;
    list-style-type: none;
    padding: 5px 10px;
    position: relative;
    right: 5%;
}

nav ul li a {
    color: rgb(119, 119, 119);
    text-decoration: none !important;
}

nav ul li a:hover {
    color: rgb(51, 51, 51);
}

#current {
    color: black;
}

#description {
    position: relative;
    padding-top: 40px;
    text-align: center;
}

#description img {
    border-radius: 50%;
    width: 300px;
    height: auto;
    padding-bottom: 20px;
}

.aboutme {
    position: relative;
    padding-left: 10%;
    padding-right: 15%;
    padding-top: 50px;
}

.socials {
    position: relative;
    left: 10%;
    padding-top: 15px;
}

.socials a {
    text-decoration: none;
    padding-right: 20px;
    color: black;
}

.socials a:hover {
    color: rgb(92, 92, 92);
}

.menu {
    height: 100%;
    width: 25%;
    position: fixed;
    z-index: 1;
    top: 54px;
    overflow-x: hidden;
    padding-top: 20px;
    background: rgb(196, 196, 196);
}

.menu div {
    position: relative;
    left: 15%;
}

.menu div input {
    padding: 6px;
    margin-right: 16px;
    font-size: 17px;
    margin-bottom: 10px;
}

.menu div ul li {
    list-style-type: none;
    padding: 5px 0px;
}

.feed {
    height: 100%;
    left: 25%;
    width: 75%;
    position: fixed;
    z-index: 1;
    top: 54px;
    overflow-x: hidden;
    padding-top: 20px;
}

.post {
    padding: 10px 3%;
}